
div{
    display: inline-block;
    position: relative;
    color:rgb(249, 85, 9);
    
}
h1{
    mix-blend-mode: difference;
}
div:after{
    content: "";
    position: absolute;
    top:0px;
    left:0px;
    z-index: -1;
    width: 28%;
    height: 100%;
    border-radius: 50px;
    background-color: rgb(249, 85, 9);
    animation: js 1s linear infinite alternate;
   
}
 @keyframes js {
     100% {left: 75%;}
 }